.App {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../bg.jpg");
}

 label {
  padding: 1%;
  font-size: larger;
 }
 hr{
   height: 5%;
   background-color: black;
 }

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 350px;
  padding: 2%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  transform: rotateY(180deg);
}


